.PayModal {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.PayModalBody {
  position: absolute;
  top: 50%;
  width: 400px;
  height: 600px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
}

.PayModal .olderContent {
  border: 1px solid black;
  width: 400px;
  height: 40px;
}

.PayModal .totalPay {
  border: 1px solid black;
  width: 400px;
  height: 500px;
}
